<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Change Password</title>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="-1"/>
<link rel="stylesheet" th:href="@{|/css/portal-common.${session.tenatntId}.min.css|}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/portal-common.min.js}"></script>
</head>
<body>
<div class="response" th:if="${processResponse} != null">
		<div th:if="${processResponse.status.name() == 'FAILURE'}" th:each="message : ${processResponse.message}" th:text="${message}" class="message error"></div>
		<div th:if="${processResponse.status.name() == 'SUCCESS'}" th:each="message : ${processResponse.message}" th:text="${message}" class="message success"></div>
	</div>
<h3>Change Password</h3><hr/>		
		<small>(<span class="required">*</span>) Required fields.</small>
		<form autocomplete="off" id="changepass" th:action="@{/admin/saveChangedPassword}" th:object="${portalUser}" method="post">
				<table>
					<tr>
						<td>User Id:</td>
						<td><input id="userId" class="form-control" type="text" required="required"	th:field="*{userId}" readonly="readonly" /></td>
					</tr>
					<tr th:if="${loggedUser==portalUser.userId}">
						<td>Old Password:<span class="required">*</span></td>
						<td><input class="form-control" type="password" th:field="*{password}" required="required" maxlength="20" 
							style="background-color: #FFF" readonly="readonly" onfocus="this.removeAttribute('readonly');"/></td>
					</tr>
				    <tr>
						<td>New Password:<span class="required">*</span></td>
						<td><input class="form-control" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$()\\-`.+,/&quot;]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter and one special character and at least 8 or more characters"
							th:field="*{newPassword}" required="required" maxlength="20" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');if(this.checkValidity()) form.confirmPassword.pattern = this.value;"
							style="background-color: #FFF" readonly="readonly" onfocus="this.removeAttribute('readonly');"/></td>
					</tr>
					<tr>
						<td>Confirm New Password:<span class="required">*</span></td>
						<td><input class="form-control" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$()\\-`.+,/&quot;]).{8,}" title="Please enter the same Password as above"
							th:field="*{confirmPassword}" required="required" maxlength="20" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');"/></td>
					</tr>
				</table>
			<div class="modal-footer">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button th:if="${isSuperAdmin or isAdmin or loggedUser==portalUser.userId}" type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
</body>
</html>