<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>
<title>Profile Details</title>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="-1"/>
<link rel="stylesheet" th:href="@{|/css/portal-common.${session.tenatntId}.min.css|}" />
<link rel="stylesheet" th:href="@{|/css/jquery.dataTables.${session.tenatntId}.min.css|}" />

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/portal-common.min.js}"></script>
</head>
<body>
<h3>Profiles</h3><hr/>
			<div>
				<table class="display cell-border hover order-column dataTable">
					<thead>
					<tr>
						<th>Sl. No.</th>
						<th>Profile Code</th>
						<th>Description</th>
						<th>Profile Status</th>
						<th>Admin Action</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="profDtls,counter  : ${profileDetails}">
						<td th:text="${counter.count}"></td>
						<td th:text="${profDtls.profileCode}"></td>
						<td th:text="${profDtls.desc}"></td>
						<td th:text="${profDtls.statusStr}"></td>
					 	<td>
					 		<span th:if="${profDtls.status == 1}"><a class="pop-up" th:href="@{|/admin/populateProfileAccessPage/${profDtls.id}|}">Manage Access</a></span>
					 		<span th:if="${profDtls.status != 1}" style="cursor: not-allowed">Manage Access</span>
							<span th:if="${isSuperAdmin or (isAdmin and profDtls.profileCode!='PROFILE_ADMIN' and profDtls.status != 3)}"> | <a th:href="@{|/admin/updateProfile/${profDtls.id}|}">Update</a></span>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
</body>
</html>