<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Details</title>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="-1"/>
<link rel="stylesheet" th:href="@{|/css/portal-common.${session.tenatntId}.min.css|}" />
<link rel="stylesheet" th:href="@{|/css/jquery.dataTables.${session.tenatntId}.min.css|}" />

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/portal-common.min.js}"></script>
</head>
<body>
<h3>Users</h3><hr/>
	<div>
		<table class="display cell-border hover order-column dataTable">
			<thead>
			<tr>
				<th>User Id</th>
				<th>Name</th>
				<th>Profile</th>
				<th>Mail</th>
				<th>Phone Number</th>
				<th>User Status</th>
				<th>Admin Action</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="userDetail  : ${userDetails}">
				<td th:text="${userDetail.userId}"></td>
				<td th:text="${userDetail.userName}"></td>
				<td th:text="${userDetail.userRole}"></td>
				<td th:text="${userDetail.mail}"></td>
				<td th:text="${userDetail.phoneNumber}"></td>
				<td th:text="${userDetail.userStatus.textValue()}"></td>
				<td>
					<span th:if="${userDetail.getUserStatus().name()} != 'DISABLE'">
					<a th:href="@{|/admin/changePassword/${userDetail.userId}|}">Change Password</a> | 
					<a th:href="@{|/admin/updateUser/${userDetail.userId}|}">Update</a></span>
				</td>
			</tr>
			</tbody>
		</table>
		</div>
</body>
</html>