<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
	<head data-th-fragment="header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/metisMenu.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/bbpou.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery-1.12.3.min.js}"></script>

	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>	
	
	<script type="text/javascript" th:src="@{/js/metisMenu.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/bbpou.js}"></script>	
	
    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>
        
     <title data-th-text="${pagetitle}">BBPS - OU</title>  
     
     <script type="text/javascript">
     $(document).ready(function() {
     
     
     
     });
     </script>
</head>

<body class="">


	<!-- /HEADER -->

	<!-- SIDEBAR -->
	<!-- left menu -->
	<div id="wrapper">
		<div class="left-side">
			<a class="sidebar_switch on_switch" href="javascript:void(0)">Sidebar
				switch</a>
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
							<li>
								<a href="javascript:void(0);">Dashboard</a>
							</li>
							<li>
								<a href="/AgentService/invokeBillFetchPage" th:href="@{/AgentService/invokeBillFetchPage}" class=""style="color:#000;">Pay Bill</a>
							</li>
							<li>
								<a href="/AgentService/invokeTxnSearchByMobile" th:href="@{/AgentService/invokeTxnSearchByMobile}" class=""style="color:#000;">Transaction History By MobileNo</a>
							</li>
							<li>
								<a href="/AgentService/invokeAgentTransactionsByDate" th:href="@{/AgentService/invokeAgentTransactionsByDate}" class=""style="color:#000;">Transaction History By Date</a>
							</li>
							<li>
								<a href="/AgentService/invokeAgentTransactions" th:href="@{/AgentService/invokeAgentTransactions}" class=""style="color:#000;">Transaction History By AgentID</a>
							</li>
							<li>
								<a href="/AgentService/invokeTxnSearchByRefId" th:href="@{/AgentService/invokeTxnSearchByRefId}" class=""style="color:#000;">Transaction History By ReferenceID</a>
							</li>
							<li>
								<a href="/AgentService/invokeDuplicatePrintReceipt" th:href="@{/AgentService/invokeDuplicatePrintReceipt}" class=""style="color:#000;">Duplicate Payment Receipt</a>
							</li>
					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</div>
		<!-- / left menu -->
		<!-- /SIDEBAR -->

		<div id="page-wrapper">
			<div class="container-fluid">

				<!-- /.row -->


				<div class="box ">
					<div class="box-body">
						<div class="row">
							<div class="col-sm-12 header">
								<h3>Agent Transaction</h3>
							</div>
						</div>
						<!-- Search Panel -->
						<form id="frmSearch" method="post" th:action="@{/AgentService/searchAgentTransactions}">
							<label>Agent ID 
					        	<input type="text" class="form-control" id="inputAgentID" th:value="${inputAgentID}" name="inputAgentID">
					        </label>
							<div class=" " style="display: inline-block;">
								<button id="btnSearch">Search</button>
							</div>
						</form>


						<div id="dgGrid" class="modal-body">
							<table class="table table-bordered  table-color">
								<thead class="thead tr th">
									<tr>
										<th>#</th>
										<th>Transaction Reference Number</th>
										<th>Transaction Date</th>
										<th>Transaction Time</th>
										<th>Amount</th>
										<th>Status</th>
									</tr>
								</thead>

								<tbody th:if="${txnDetails}">
									<tr th:each="txnDetail,iterStat : ${txnDetails}">
										<td scope="row" th:text="${iterStat.index + 1}"></td>
										<td th:text="${txnDetail.txnReferenceId}"></td>
										<td th:text="${#strings.substring(txnDetail.txnDate,0,10)}"></td>
										<td th:text="${#strings.substring(txnDetail.txnDate,11,16)}"></td>
										<td th:text="Rs. + ${txnDetail.amount}"></td>
										<td th:text="${txnDetail.txnStatus}"></td>
									</tr>									
								</tbody>
								<tbody th:if="${txnDetails == null or #lists.isEmpty(txnDetails)}">
									<tr>
										<td scope="row" colspan="6">No records to display!</td>
									</tr>
								</tbody>
							</table>
							<div class="" style="text-align: center;">
								<button type="button" class="btn btn-primary"
									onClick="window.print()">Print</button>
								&nbsp;
								<button type="button" class="btn btn-primary">Download
								</button>
								&nbsp;
							</div>

						</div>

					</div>
					<!-- /.row -->
				</div>

				<!-- /box -->
				<div class="clearfix"></div>

				<!-- extra bottom space -->

				<!-- /.col-sm-12 -->
			</div>
			<!-- /.row -->

			<!-- extra bottom space -->


		</div>
	</div>
	<!-- /#page-wrapper -->

	<!-- FOOTER -->
	<footer class="bbpou-footer"> Copyright &copy; 2016, R S
		Software. All rights reserved. </footer>
	<!-- /FOOTER -->

</body>

</html>