<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Menu</title>
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<link rel="stylesheet"
	th:href="@{|/css/portal-common.${session.tenatntId}.min.css|}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/portal-common.min.js}"></script>

</head>
<body>
	<div class="response" th:if="${processResponse} != null">
		<div th:if="${processResponse.status.name() == 'FAILURE'}" th:each="message : ${processResponse.message}" th:text="${message}" class="message error"></div>
		<div th:if="${processResponse.status.name() == 'SUCCESS'}" th:each="message : ${processResponse.message}" th:text="${message}" class="message success"></div>
	</div>
	<h3	th:text="@{|${menuDetail.menuId}|==null?'Add Menu Detail':'Update Menu Detail'}"></h3>
	<hr />
	<small>(<span class="required">*</span>) Required fields.
	</small>
	<form autocomplete="off" id="addMenu" th:action="@{/menu/save}"	th:object="${menuDetail}" method="post">
		<table style="width: 450px">
			<tr>
				<td>Menu Name:<span class="required">*</span></td>
				<td><input id="menuName" class="form-control" type="text"
					title="Only Alphabet Support" th:field="*{menuName}"
					pattern="[a-zA-Z\s]+" required="required" maxlength="35" /></td>
			</tr>
			<tr>
				<td>Menu URL:<span class="required">*</span></td>
				<td><input id="menuUrl" class="form-control" type="text" pattern="^#|(/[a-zA-Z0-9]{1,34})*$"
					title="Enter valid URL" th:field="*{menuUrl}" required="required" maxlength="35" /></td>
			</tr>
			<tr>
				<td>Menu Access Point:<span class="required">*</span></td>
				<td><select class="form-control" th:field="*{menuAccessPoint}">
						<option value="" th:text="@{'No Access'}"/>
						<option th:each="menuAccess :${menuAccessPoints}" th:value="${menuAccess.id}" th:text="${menuAccess.desc}"></option>
				</select></td>

			</tr>
			<tr>
				<td>Parent Menu:<span class="required">*</span></td>
				<td><select class="form-control" th:field="*{parentMenu}">
					<option value="" th:text="@{'Default'}"/>
					<option th:each="activeMenu :${activeMenuDetails}" th:value="${activeMenu.menuId}" th:text="${activeMenu.menuName}"/>
				</select></td>
			</tr>
		</table>
		<div class="modal-footer">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
			<input type="hidden" th:field="*{menuId}" /> 
			<input type="hidden" th:field="*{menuStatus}" />
			<input type="hidden" th:field="*{crtnTs}" />			
			<input type="hidden" th:field="*{crtnByUserId}" />
			<button th:if="*{menuId == null}" type="submit" class="btn btn-primary" name="action" value="add">Add</button>
			<button th:if="*{menuId != null}" type="submit" class="btn btn-primary" name="action" value="update">Update</button>
		</div>
	</form>
</body>
</html>