<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="fragments/sb-admin :: hdr">
</head>

<body>
   <!-- TOP NAV BAR START -->
   <div data-th-replace="fragments/sb-admin :: top-nav"></div>
   <!-- TOP NAV BAR END -->
   <!--BODY WRAPPER START -->
   <div class="wrapper">
      <!--SIDE NAV START -->
      <div data-th-replace="fragments/sb-admin :: vert-nav-admin"></div>
      <!--SIDE NAV END -->
      <!-- BODY OR CONTENT BOX START -->
      <main class="content-wrapper">
          <!-- PAGE TITLE BOX START -->
          <section class="content-header">
          <h1>
           Change Password
          </h1>
         <!-- <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Agent Institutes</a></li>
            <li class="active">Reconciliation Report</li>
          </ol>-->
        </section>
          <!-- PAGE TITLE BOX END -->
          <!-- CONTENT AREA START -->
          <div class="content-area">
             <!-- MESSAGE SHOW BOX START -->
              <div class="alert alert-success" th:text="${message}"></div>
             <!-- MESSAGE SHOW BOX END -->
             
              <!-- FORM START -->
                <form class="form-horizontal" name = "changepassword" action="#" data-th-action="@{/users/save-password}" data-th-object="${passwordvo}" method="post">
                          <div class="row">
                            <div class="input-field col-md-6 col-lg-4">
                            <label for="oldpassword">Old Password</label>
                              <input type="text" hidden="hidden" data-th-value="*{userName}" data-th-field="*{userName}" />
                              <input id="password" type="password" class="validate" data-th-field="*{oldPassword}"/>
                              
                            </div> 
                               
                            <div class="input-field col-md-6 col-lg-4">
                            <label for="newpassword">New Password</label>
                              <input id="newPassword" name="newPassword" type="password" class="validate" data-th-field="*{newPassword}"/>
                              </div>
                              
                            <div class="input-field col-md-6 col-lg-4">
                            	<label for="confirmpassword">Confirm Password</label>
                              <input id="confirmpassword" name="confirmpassword" type="password" class="validate"/>
                              
                            </div>
                              
                          </div>
                
              

             <!-- BUTTON START -->
                  <div>
                      
                      <button type="submit" class="btn btn-default waves-effect waves-light" id="btnSubmit" name="action">Save</button>
					  <button type="submit" class="btn btn-default waves-effect waves-light" name="action">Cancel</button>
                      
                 
                </div>
             <!-- BUTTON END --> 
            </form>
            <!-- FORM END -->
          </div>
          <!-- CONTENT AREA END -->
      </main>
      <!-- BODY OR CONTENT BOX START -->
      <!-- FOOTER BOX START -->
      <div data-th-replace="fragments/sb-admin :: footer"></div>
      <script type="text/javascript" th:src="@{/js/user.js}"></script>
      <!-- FOOTER BOX END -->
   </div>
   <!--BODY WRAPPER START -->
       
</body>

</html>
