<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="fragments/sb-admin :: hdr">
</head>

<body>
   <!-- TOP NAV BAR START -->
   <div data-th-replace="fragments/sb-admin :: top-nav"></div>
   <!-- TOP NAV BAR END -->
   <!--BODY WRAPPER START -->
   <div class="wrapper">
      <!--SIDE NAV START -->
<div data-th-replace="fragments/sb-admin :: vert-nav-admin"></div>
      <!--SIDE NAV END -->
      <!-- BODY OR CONTENT BOX START -->
      <main class="content-wrapper">
          <!-- PAGE TITLE BOX START -->
          <section class="content-header">
          <h1>List of Roles
          </h1>
         <!-- <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Agent Institutes</a></li>
            <li class="active">Reconciliation Report</li>
          </ol>-->
        </section>
          <!-- PAGE TITLE BOX END -->
          <!-- CONTENT AREA START -->
          <div class="content-area">
             <!-- MESSAGE SHOW BOX START -->
              <div th:if="${success}" class="alert alert-success" data-th-text="${success}">    
                	Successfully saved
                </div>
              
             <!-- MESSAGE SHOW BOX END -->
             
              <!-- TABLE START -->
                <div class="table responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr class="custom-data-table-head">
							<th class="col-sm-1">Id</th>
							<th class="col-sm-3">Role Name</th>
							<th class="col-sm-3">Role Description</th>
							<!-- <th class="col-sm-2">Organization</th> -->
							<th class="col-sm-1">Is Active?</th>
							<th class="col-sm-2 text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="roles : ${roles}">
							<td data-th-text="${roles.id}">Default Id</td>
							<td data-th-text="${roles.roleName}">Default Role Name</td>
							<td data-th-text="${roles.roleDesc}">Default Role Description</td>
							<!-- <td data-th-text="${roles.organization!=null} ? ${roles.organization.organizationName}" >Default Organization</td> -->
							<td data-th-text="${roles.isActive?'Yes':'No'}">Yes</td>
							<td style="text-align: center;">
								<a href="#" data-toggle="tooltip" title="Edit Role"	data-th-href="@{/role/add-role(id=${roles.id}) }">
									
										<i class="fa fa-pencil" ></i>
									</a>
								<!-- <a href="#"	data-th-href="@{/strategy/delete}">
									<button type="button" class="btn btn-default btn-xs">
										<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
									</button></a> -->
							</td>
						</tr>
					</tbody>
				</table>
				</div>			
              <!-- TABLE END -->


            
          </div>
          <!-- CONTENT AREA END -->
      </main>
      <!-- BODY OR CONTENT BOX START -->
      <!-- FOOTER BOX START -->
      <div data-th-replace="fragments/sb-admin :: footer"></div>
      <!-- FOOTER BOX END -->
   </div>
   <!--BODY WRAPPER START -->
       
</body>

</html>
